
<div class="row">
    <div class="col l4">
    
<h2 class="red-text">Login</h2>

<br/>

<div class="red-text lighten-2"><%= @error if @error %></div>

<%= form_with model: @user, url: '/sessions' do |form| %>
     <div>
       <%= form.label :username, 'Usuário' %><br>
       <%= form.text_field :username %>
     </div>

     <div>
       <%= form.label :password, 'Senha' %><br>
       <%= form.password_field :password %>
     </div>

     <br/>

     <div>
       <%= form.submit 'Entrar', class:'btn red' %>
     </div>
<% end %>

    </div>
</div>