
<div class="card">
    <div class="card-content">
        <span class="card-title grey-text">
            <i class="material-icons">account_box</i>
            <small>
                <span><%= comment.author %></span>
            </small>
        </span>
        <%= comment.body %>
    </div>
</div>
