<h2 class="red-text">Artigos</h2>

<ul>
    <% @articles.each do |article| %>
        <% unless article.archived? %>
        <li>
            <div style="padding-bottom: 20px;">
            <%= link_to article.title, article %> 
            <span class="grey-text lighten-2" style="font-size: 10pt;">(<%= date_format article.created_at %>)</span> <br/>
            por: <small><%= article.author.name %></small>
            </div>
        </li>
        <% end %>
    <% end %>
</ul>