<h2 class="red-text"><%= @article.title %></h2>

<% if @current_user and @current_user.id == @article.author.id %>

<%= link_to "Editar", edit_article_path(@article) %> |
<%= link_to "Excluir", article_path(@article),
                     method: :delete,
                     data: { confirm: "Realmente deseja remover este artigo?" } %>
                     
<% end %>


<p><%= raw @article.body.gsub("\n", "<br/>") %></p>


<br/>

<h6 class="grey-text">Author: <span class="red-text lighten-4"><%= @article.author.name %></span></h6>

<br/>

<% if @article.comments.count > 0 %>
<h5 class="red-text lighten-2">Comentários</h5>
<div style="width: 100%; height: 1px;" class="grey lighten-2"></div>
<%= render @article.comments %>
<% end %>

<div style="width: 100%; height: 1px;" class="grey lighten-2"></div>
<div class="row">
    <div class="col s12 m4 l4">
        <h5>Adicione um comentário</h5>
        <%= render 'comments/form' %>
    </div>
</div>
