<h2 class="red-text">Membros</h2>

<ul>
    <table>
        <tr>
            <th>Nome</th>
            <th>E-Mail</th>
            <th>Membro desde</th>
        </tr>
    <% @users.each do |user| %>
        <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= date_format user.created_at %></td>
        </li>
    <% end %>
    </table>
</ul>
