<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    
    <nav>
      <div class="nav-wrapper grey lighten-4">
        <%= link_to '#', class: 'brand-logo' do %>
          <%= image_tag image_path('logo-white.png'), width: '128px' %>
        <% end %>
        
        <div class="row">
          <div class="col l6 push-l2">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li class="<%= "active" if controller_name == "articles" %>"><a href="/articles" class="red-text active">Artigos</a></li>
              <li class="<%= "active" if controller_name == "users" %>"><a href="/users" class="red-text">Membros</a></li>
              <li><a href="https://guides.rubyonrails.org/getting_started.html" target="_blank" class="red-text">Sobre</a></li>
            </ul>
          </div>
          
          <div class="col l6 pull-l2">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <% if @current_user %>
              <li><a href="/articles/new" class="red-text">Criar Novo Artigo</a></li>
              <li><a href="/logout" class="red-text active">Sair</a></li>
              <% else %>
              <li><a href="/sessions/new" class="red-text active">Entrar</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
        
    
    <div class="container">
      <%= yield %>  
    </div>
  </body>
</html>
